<html>
    <head>
        <title> Playlist Recommender</title>
    </head>
    <body>
        <h1>Playlists Recommender</h1>
        <p>Search from a variety of music selections. Expand your taste.</p>
        <h2> Please answer the following questions to receive the perfect playlist!</h1>
        <h4> Enter your name. </h4>
        <form method="post" action="/results">
            <input type="text" name="name" value="Enter your name"/>
            <br> </br> 
            <h4> Select your preferred genre of music. </h4>
            <select name="genre">
                <option value="Hip-Hop">Hip-Hop</option>
                <option value="Jazz">Jazz</option>
                <option value="Pop">Pop</option>
                <option value="Rock">Rock</option>
                <option value="Dubstep">Dubstep</option>
                <option value="Country">Country</option>
                <option value="Blues">Blues</option>
                <option value="EDM">EDM</option>
            <input type="submit" value= "submit">        
         </form>
    </body>
</html>